@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --font-family: 'Rubik', sans-serif;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --dark-grey: hsl(0, 0%, 59%);
    --very-dark-grey: hsl(0, 0%, 17%);
}