@media screen and (min-width: 481px) {
    header {
        background-image: url(../../images/pattern-bg-desktop.png);
    }
}

@media screen and (min-width:481px) and (max-width:768px) {

    header div#tracker-infos h1 {
        margin-top: clamp(14px, 2.5vw, 20px);
        margin-bottom: clamp(14px, 2.5vw, 20px);
    }

    header div#tracker-infos {
        top: 0;
    }

    header div#tracker-infos #tracker {
        width: 70%;
        max-width: 400px;
    }

    header div#tracker-infos #tracker input[type="text"] {
        line-height: 3.4;
    }

    header div#tracker-infos #tracker button {
        width: 14%;
    }

    header section#location-infos {
        padding: 3%;
        max-width: 600px;
        max-height: 220px;
        flex-wrap: wrap;
        flex-direction: initial;
        justify-content: space-between;
    }

    header section#location-infos article.location-info {
        flex-basis: 48%;
        text-align: initial;
    }

    header section#location-infos>.location-info:nth-child(1) {
        border-right: 1px solid var(--dark-grey);
    }

    header section#location-infos>.location-info:nth-child(3) {
        border-right: 1px solid var(--dark-grey);
        padding-right: 1%;
    }

}