@media screen and (min-width: 769px) {

    header div#tracker-infos {
        top: 0;
    }

    header div#tracker-infos h1 {
        /* margin-top: clamp(20px, 32px, 100%);
        margin-bottom: clamp(20px, 32px, 100%); */
        margin-bottom:  clamp(14px, 2.5vw, 20px);
        margin-top:  clamp(14px, 2.5vw, 20px);
    }
    
    header div#tracker-infos #tracker {
        max-width: 470px;
        max-height: 50px;
    }

    header div#tracker-infos #tracker input[type="text"] {
        line-height: 3.6;
    }

    header div#tracker-infos #tracker button {
        width: 12%;
    }

    header section#location-infos {
        max-width: 850px;
        padding: 2% 1%;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 10px;
    }

    header section#location-infos article.location-info {
        flex-basis: 30%;
    }

    header section#location-infos > .location-info:nth-child(2){
        border-left: 1px solid var(--dark-grey);
        border-right: 1px solid var(--dark-grey);
    }
    header section#location-infos > .location-info:nth-child(3){
        border-right: 1px solid var(--dark-grey);
    }

    header section#location-infos .location-info {
        text-align: initial;
        padding-left: 1.4%;
        padding-right: 1%;
    }
}

@media screen and (min-width: 1024px) {
    header div#tracker-infos h1 {
        margin-top: clamp(22px, 5vw, 26px);
        margin-bottom: clamp(22px, 5vw, 26px);
    }

    header div#tracker-infos #tracker {
        max-width: 500px;
        max-height: 50px; 
    }

    header div#tracker-infos #tracker input[type="text"] {
        line-height: 3.6;
    }
}